{% extends 'admin/base.html.twig' %}

{% block body %}

    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-12">
                <h1 class="display-4 text-center mt-5">{{ title }}</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                {{ form(form) }}
            </div>
        </div>
    </div>
    {% include 'admin/post/_partials/modal.html.twig' %}
{% endblock %}