{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container container-fluid">
        <div class="row no-gutters justify-content-center mt-5">
            <div class="col-12 col-lg-6 col-md-6">
                {% set resetPasswordSuccessMessages = app.session.getFlashBag().get('success')|default(false) %}
                {% if resetPasswordSuccessMessages %}
                    <div class="alert alert-success fade show" role="alert">
                        {{ resetPasswordSuccessMessages[0] }}
                        <hr>
                        <div class="text-right mt-3">
                            You can now <a href="{{ path('app_login') }}">Sign in</a>
                        </div>
                    </div>
                {% elseif (registrationSuccessMessages)%}
                    <div class="alert alert-success fade show" role="alert">
                        {{ registrationSuccessMessages[0] }}
                        <hr>
                        <div class="text-right mt-3">
                            If you don't receive an email please check your spam folder or try <a href="{{ path('send-confirmation', {'id': id}) }}">Resending it</a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
