<div class="alert alert-success fade show" role="alert">
    <h1>Agree term</h1>
    <hr>
    <ol>
        <li>Test</li>
        <li>Test</li>
        <li>Test</li>
    </ol>
    <hr>
    <div class="text-right mt-3">
        {{ form_row(form.agreeTermRefuse) }}
        {{ form_row(form.agreeTermAgree) }}
    </div>
</div>