@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons.css';
.agree-link{
  background: none;
  border: 0;
  padding: 0;
  color: #007bff;
  margin-bottom: 0.25rem;
  margin-left: 1rem;
}

.form-login .form-check{
  float: left;
  margin-bottom: 1rem;
}

.hide-row{
  visibility: hidden;
  position: absolute;
  top: -1px;
}

.w-10{
  width: 10% !important;
}
.w-2{
  width: 2% !important;
}


.post-container .card{
  width: 100%;
}
.post-container .card img{
  height: 20rem;
}